.footer {
  background: #00000060;
  padding: 10px;
  display: grid;
 }



 .footer-container {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 100px;
   align-items: center;
 }


 .footer-copy {
   grid-column: 1 / -1;
   font-size: 1.125rem;
   color: #8f8f8f;
 }
 

 @media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  #contatos-footer {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #8f8f8f;
  }
  .footer {
    display: grid;
  }
}
 
