@import url("background.css");
@import url("header.css");
@import url("introducao.css");
@import url("conteudo1.css");
@import url("footer.css");
@import url("ranking.css");
@font-face {
  font-family: "matrix";
  src: url(../fonte/Matrix\ II\ Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #0000009d;
  --text: #edf1f7;
  --red: #ee3636;
  --blue: #4a7fe7;
  --blue1: #6282c2;
  --green: #14b02d;
  --yellow: #ffc12b;
  --red2: #250202;
}

body {
  align-items: center;
  justify-content: center;
}

body,
button,
a {
  color: var(--text);
  font: 400 1rem "Mukta", sans-serif;
}

button:hover {
  cursor: pointer;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}