@import url('background.css');
@import url('header.css');
@import url('introducao.css');
@import url('experiencias.css');
@import url('footer.css');
@font-face {
  font-family: "matrix";
  src: url(../fonte/Matrix\ II\ Bold.otf);
}




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #edf1f7;
  --red: #ee3636;
  --blue: #4a7fe7;
  --blue1: #6282c2;
  --green: #14b02d;
  --yellow: #ffc12b;
}

body {
  
  align-items: center;
  justify-content: center;
}

body,
button,
a {
  color: var(--text);
  font: 400 1rem "Mukta", sans-serif;
}

button:hover {
  cursor: pointer;
}

