.container {
  background: rgb(37, 2, 2);
  background: linear-gradient(
    90deg,
    rgba(37, 2, 2, 1) 0%,
    #5d1111 50%,
    rgba(37, 2, 2, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.imagem-ranking {
  padding: 20px 10px;
}

#header-ranking {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#header-ranking img {
width: 400px;
}

#header-ranking .title {
  background: linear-gradient(
    90deg,
    rgba(37, 2, 2, 1) 0%,
    #500c0c 50%,
    rgba(37, 2, 2, 1) 100%
  );
width: 500px;
border-radius: 30px;
padding: 20px;
text-align: center;
font-size: 1.30rem;
font-family: "Readex Pro", serif;;
font-weight: bold;
text-transform: uppercase;

}

.container, 
main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 20px;
}

.podium {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
  padding: 58px;
}

#ul-ranking {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

#li-ranking:nth-child(2) {
  padding-bottom: 250px;
}

li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid var(--red);
}

#crow {
  width: 60px;
  height: 60px;
  border: unset;
  padding: unset;
}

li p {
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
}

li span {
  font-size: 20px;
}

#footer-ranking {
  background: var(--red2);
}

.segundo-lugar {
  font-family: 'gstatic', Courier, monospace;
  color: var(--yellow);
  font-size: 20px;
  font-weight: bold;
}

.primeiro-lugar {
  font-family: 'gstatic', Courier, monospace;
  font-weight: bold;
  color: var(--yellow);
  font-size: 20px;
}

.terceiro-lugar {
  font-family: 'gstatic', Courier, monospace;
  color: var(--yellow);
  font-size: 20px;
  font-weight: bold;
}