body {
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgb(37, 2, 2);
  background: linear-gradient(
    90deg,
    rgba(37, 2, 2, 1) 0%,
    #5d1111 50%,
    rgba(37, 2, 2, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

}

#imagem-ranking {
  width: 25rem;
  padding: 15px 0;
  transition: scale 0.8s;
}

#imagem-ranking:hover {
  scale: 1.05;
}

#header-ranking {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#header-ranking img {
width: 25rem;
}

#header-ranking .title {
  background: linear-gradient(
    90deg,
    rgba(37, 2, 2, 1) 0%,
    #500c0c 50%,
    rgba(37, 2, 2, 1) 100%
  );
width: 31.25rem;
border-radius: 1.875rem;
padding: 1.25rem;
margin: 0.9375rem;
text-align: center;
font-size: 1.30rem;
font-family: "Readex Pro", serif;;
font-weight: bold;
text-transform: uppercase;

}

.container, 
main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 1.25rem;
}

.podium {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-top: 5rem;
}

main #ul-ranking {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

main li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.1875rem;
  margin: 4.375rem;
}

main li img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  padding: 0.125rem;
  border: 0.125rem solid var(--red);
  transition: scale 0.5s;
}

main li img:hover {
  scale: 1.05;
}

.rank img:hover {
  scale: 1.05;
}


main li:nth-child(2) {
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%);
width: 10.625rem;
height: 10.625rem;
z-index: 200;
margin: unset;
}

main #crow {
  width: 3.75rem;
  height: 3.75rem;
  border: unset;
  padding: unset;
}

main li p {
  font-size: 0.9375rem;
  font-weight: bold;
  color: var(--text);
}

main li span {
  font-size: 1.25rem;
  font-weight: bold;
}


.revenue {
  font-family: 'gstatic', Courier, monospace;
  color: var(--yellow);
  font-size: 1.25rem;
  font-weight: bold;
}

.span-subtitulo {
  color: var(--text);
  padding: 0.3125rem;
  
  
}

.section-rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rank-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rank {
  background-color: var(--red2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1.25rem;
  gap: 1.25rem;
  padding: 1.25rem;
}

section li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: scale 0.5s;
}

section li p {
  text-align: center;
  min-width: 12.5rem;
  font-size: 1.125rem;
  color: var(--text);
}

section li span:last-child {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--yellow);
}

.rank-number {
  font-weight: bold;
}
#footer-ranking {
  background: var(--red2);
}



@media (max-width: 700px) {
  .container main {
    margin: unset;
  }

  #imagem-ranking {
    width: 18.75rem;
  }
  
  main {
    padding-bottom: 3.125rem;
  }
  
  main li {
    margin: 0;
    padding: 0 5rem;
    display: flex;
  }
  main li img {
    width: 6.25rem;
    height: 6.25rem;
  }

  main li:nth-child(2) {
    top: -1.875rem;
    left: 50%;
    transform: translate(-50%);
    width: 7.5rem;
    height: 7.5rem;
    }

    section {
      padding: 1.25rem;
      align-items: unset;
      text-align: center;
    }
    section li p {
      text-align: center;
      min-width: 9.5rem;
      font-size: 1.125rem;
    }
}