body {
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgb(37, 2, 2);
  background: linear-gradient(
    90deg,
    rgba(37, 2, 2, 1) 0%,
    #5d1111 50%,
    rgba(37, 2, 2, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.imagem-ranking {
  padding: 15px 0;
}

#header-ranking {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#header-ranking img {
width: 400px;
}

#header-ranking .title {
  background: linear-gradient(
    90deg,
    rgba(37, 2, 2, 1) 0%,
    #500c0c 50%,
    rgba(37, 2, 2, 1) 100%
  );
width: 500px;
border-radius: 30px;
padding: 20px;
margin: 15px;
text-align: center;
font-size: 1.30rem;
font-family: "Readex Pro", serif;;
font-weight: bold;
text-transform: uppercase;

}

.container, 
main {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0 auto;
padding: 20px;
}

.podium {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-top: 80px;
}

main #ul-ranking {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

main li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3px;
  margin: 70px;
}

main li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid var(--red);
}

main li:nth-child(2) {
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%);
width: 170px;
height: 170px;
z-index: 200;
margin: unset;
}




main #crow {
  width: 60px;
  height: 60px;
  border: unset;
  padding: unset;
}

main li p {
  font-size: 15px;
  font-weight: bold;
  color: var(--text);
}

main li span {
  font-size: 20px;
  font-weight: bold;
}

#footer-ranking {
  background: var(--red2);
}

.revenue {
  font-family: 'gstatic', Courier, monospace;
  color: var(--yellow);
  font-size: 20px;
  font-weight: bold;
}

.section-rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rank-ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
 /* width: 50%; */
}

.rank {
  background-color: var(--red2);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
}

section li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

section li p {
  text-align: center;
  min-width: 200px;
  font-size: 18px;
  color: var(--text);
}

section li span:last-child {
  font-size: 18px;
  font-weight: bold;
  color: var(--yellow);
}

.rank-number {
  font-weight: bold;
}


@media (max-width: 900px) {
  main li {
    margin: unset;
  }

  main li img {
    
  }
}